<div>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="m-8 flex">
    <input
      id="fullName"
      name="fullName"
      formControlName="fullName"
      class="inp-primary"
      [ngClass]="{ 'err': contactForm.get('fullName')?.getError('errorMessage')}"
      placeholder="firstName lastName"
    />

    <button
      type="submit"
      class="btn-submit"
    >
      Submit
    </button>
  </form>
  <div
    *ngIf="contactForm.get('fullName')?.getError('errorMessage') as err"
  >
  {{err}}
  </div>
</div>
